<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Echo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Echo-60x60</string>
					<string>AppIcon-Echo-40x40</string>
					<string>AppIcon-Echo-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Echo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Echo-60x60</string>
					<string>AppIcon-Echo-40x40</string>
					<string>AppIcon-Echo-29x29</string>
					<string>AppIcon-Echo-80x80</string>
					<string>AppIcon-Echo-87x87</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
